<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-md-offset-2">
			{{#if hasRequests}}
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">These are your assignments:</div>
			  <!-- Table -->
			  <table class="table">
			    <thead>
			    	<tr>
					<th>Request</th><th>Status</th><th>Priority</th><th>Created at</th>
				</tr>
			   </thead>
			   <tbody>
				{{#each requests}}

					<tr><td><a href="assignment/{{_id}}">{{name}}</a></td><td>{{status}}</td><td>{{priority}}</td><td>{{date createdAt format='DD-MM-YYYY'}}</td></tr>

				{{/each}}
			   </tbody>
			  </table>
			</div>
			{{else}}
			<h3 class="request-feedback">You don't have any</h3>
			{{/if}}
		</div>
	</div>
</div>
