<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-md-offset-2">

	


			{{#if hasRequests}}
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">These are your requests:</div>
			  <!-- Table -->
			  <table class="table">
			    <thead>
			    	<tr>
					<th>Request</th><th>Status</th><th>Assignee</th><th>Created at</th>
				</tr>
			   </thead>
			   <tbody>
				{{#each requests}}
			   	<tr><td>{{name}}</td><td>{{status}}</td><td>{{assignee.name.first}}  {{assignee.name.last}}</td><td>{{date createdAt format='DD-MM-YYYY'}}</td></tr>
				{{/each}}
			   </tbody>
			  </table>
			</div>
			{{else}}
			<h3 class="request-feedback">You haven't submited any</h3>
			{{/if}}
		</div>
	</div>
</div>
