<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8 col-md-offset-2">

			<nav class="navbar navbar-default">
			  <div class="container-fluid">


			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="/myRequests">My requests <span class="sr-only">(current)</span></a></li>
			        <li><a href="/request">New Request</a></li>
				   <li><a href="/assignments">My assignments</a></li>

			      </ul>
			 </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>


			{{#if hasRequests}}
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading">These are your requests:</div>
			  <!-- Table -->
			  <table class="table">
			    <thead>
			    	<tr>
					<th>Request</th><th>Status</th><th>Assignee</th><th>Created at</th>
				</tr>
			   </thead>
			   <tbody>
				{{#each requests}}
			   	<tr><td>{{name}}</td><td>{{status}}</td><td>{{assignee.name.first}}  {{assignee.name.last}}</td><td>{{date createdAt format='DD-MM-YYYY'}}</td></tr>
				{{/each}}
			   </tbody>
			  </table>
			</div>
			{{else}}
			<h3 class="request-feedback">You haven't submited any</h3>
			{{/if}}
		</div>
	</div>
</div>
